/*hace que la pantalla quede toda ocupa sin importan el sroll y centra la ventana*/
.popup-curso {
  display: none; 
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-contenido {
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  width: 90%;
  max-width: 22em;
  text-align: center;
  position: relative;
}

.cerrar { 
  position: absolute;
  top: 0.5em; 
  right: 0.5em; 
  font-size: 1.5em; 
  cursor: pointer; 
}

.boton { 
  display: inline-block; 
  margin-top: 1em; 
  padding: 1em 1.25em; 
  background-color: #007BFF; 
  color: #fff; text-decoration: none;
  border-radius: 5px; 
}

.calendario-nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
}

.calendario-nav button {
  background-color: #ff6d00;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

/*cambia de color cuando toca el boton*/
.calendario-nav button:hover {
  background-color: #e65c00; 
}

@media (min-width: 768px) {
  .calendario-nav button {
    padding: 0.7rem 1.2rem;
  }
}

@media (min-width: 1024px) {
  .calendario-nav button {
    padding: 0.8rem 1.5rem;
  }
}

@media(min-width:768px){.popup-contenido{padding:25px;max-width:400px;}}
@media(min-width:1024px){.popup-contenido{padding:30px;max-width:450px;}}

