
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

 .carousel {


    display: flex;
    align-items: center;
    justify-content: center;
    background: #283048;
    background: linear-gradient(to right, #859398, #283048);
    width: 100%;
    height: 600px;


}

.container-carousel {


    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
    position: relative;
   


}

.carruseles {

    width: 300%;
    height: 100%;
    display: flex;


}

.slider-section {

    width: calc(100% / 3);
    height: 100%;
    position: relative;


}

.slider-section h1 {

    display: flex;
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 7rem;
    z-index: 2;


}

.slider-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60); /* cambia 0.45 según cuán oscuro lo querés */
    z-index: 1;
    pointer-events: none;
}

.slider-section img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.btn-left, .btn-right {

    display: flex;
    position: absolute;
    top: 50%;
    font-size: 5rem;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    color: #1E1E2E;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
    

}

.btn-left:hover, .btn-right:hover {


    color: #ff6d00;

}

.btn-left {

    left: 5rem;

}

.btn-right {

    right: 5rem;

}

.pasos-section h2 {

    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    color: white;
}


.pasos-section {
    background-color: #2E3A59;
    padding-top: 3em;
    padding-bottom: 3em;
}

.pasos {
    
   display: grid;
   gap: 2em;
   padding: 2em;
   grid-template-columns: 1fr;
   

}

.pasos h2 {

    color: #ff6d00;


}

.paso-1, .paso-2, .paso-3 {

    background-color: #1E1E2E;
    padding: 2em;
    text-align: center;
    border-radius: 1.5em;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.paso-1 p, .paso-2 p, .paso-3 p {

    color: white;
    margin-top: 2em;


}



@media (min-width: 768px) {  


    .grid-cursos {
        grid-template-columns: repeat(3, 1fr);
    }

    .pasos {
        flex-direction: row;
        justify-content: space-between;
    }


}

@media (min-width: 1024px) {

    .slide {

    height: 35em;

    }


    .slide h1 {


        font-size: 7em;


    }

    .slide p {


        font-size: 2em;


    }

    .pasos {

        display: grid;
        padding: 5em;
        padding-top: 4em;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);


    }

    
    .pasos-section h2 {

        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1em;


    }

    .pasos-section-titulo h2{

        font-size: 2em;


    }

    .paso-1, .paso-2, .paso-3 {

        padding-top: 2em;
        padding: 5em;

    }







  
}




