* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-size: 0.9em;
    background-image: linear-gradient(rgba(0,0,0,0.7)), url('/TPIntegradorPW1/Imagenes/Imagen-de-fondo/fondo-cursos.jpg');
    color: #fff;
    text-align: center;
}

main {
    

    
    margin: 0 auto;
    padding: 8%;
  
}

h1 {
    text-align: center;
    padding-bottom: 4%;
}

a {
    text-decoration: none;
    color: inherit
}

.aviso-button {
    background-color: #ff6d00;
    border: none;
    border-radius: 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 1% 0.5% 0 0;
    padding: 0.5em 1em;
    margin-top: 3rem;
}

p {

    font-size: 1.3rem;
    


}

h3 {

    font-size: 1.5rem;

}




@media (max-width: 768px) {
    body {
        font-size: 0.85em;
    }

    main {
        width: 95%;
        padding: 5%;
    }

    h1 {
        font-size: 1.5em;
        padding-bottom: 2%;
    }

    button {
        width: 100%;
        margin-top: 1em;
    }
}