* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-size: 0.9em;
    background-image: linear-gradient(rgba(0,0,0,0.7)), url('/TPIntegradorPW1/Imagenes/Imagen-de-fondo/fondo-cursos.jpg');
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    width: 80%;
    margin: 0% auto;
    padding: 2% 5%;


}

.course-detail img {
    width: 20%;
    height: auto;
    padding-top: 4%;
}

.main__title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    padding: 1% 0;
    margin: 1% auto;
    border-bottom: #adc4ce solid 0.1em;
    margin-bottom: 5rem;
}

.pay-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: flex-start;
    color: #ff6d00;
    margin-left: 2rem;
}

.card-container,
.mercado-pago-container {
    grid-column: 1 / 2;
    border-radius: 1%;
    padding: 4%;
    margin-bottom: 1%;
}

.buy-resume {
    grid-column: 2 / 2;
    grid-row: 3 / 5;
}

.card-container form,
.mercado-pago-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-container form label,
.mercado-pago-container form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}

.card-container form input,
.mercado-pago-container form input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    width: 80%;
    border: #adc4ce solid 0.1em;
    border-radius: 0.3em;
}

.pagos-button {
    padding: 0.5em;
    background-color: #ff6d00;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-weight: bold;
    width: 40%;
}





@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; 
        width: 95%; 
        padding: 5%;
    }

    .main__title {
        grid-column: 1 / 2; 
    }

    .course-detail img {
        width: 60%; 
        margin: 0 auto;
        display: block;
    }

    .card-container form input,
    .mercado-pago-container form input {
        width: 100%; 
    }

    button {
        width: 100%; 
        margin-top: 1em;
    }

    .buy-resume {
        grid-column: 1 / 2;
        grid-row: auto;
        margin-top: 2em;
    }
}